@using MVCStarter.Models.Entity
@model List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th style="width:1.5rem">Delete</th>
        <th style="width:1.5rem">Update</th>
    </tr>
    <tbody>
        @foreach (var prd in Model)
        {
            <tr>
                <td>@prd.URUNID</td>
                <td>@prd.URUNAD</td>
                <td>@prd.MARKA</td>
                <td>@prd.URUNKATEGORI</td>
                <td>@prd.FIYAT</td>
                <td>@prd.STOK</td>
                <td><a href="/Urun/Sil/@prd.URUNID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                <td><a href="/Urun/Guncelle/@prd.URUNID" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Urun/UrunEkle/" class="btn btn-info">Add New Product</a>